<!DOCTYPE html>
<html>
  <title>boundin &rsaquo; About</title>
  <head>
    __HEADER__
  </head>
  <body>

    __NAV__

    <!-- content -->
    <div class="header">
      <h1>About</h1>
    </div>
    <div class="row alignflex">
      <div class="colshort">
        <img src="figures/cover/camera1.jpg" style="width: 100%; border-radius: 15px;" class="bfadein">
      </div>
      <div class="collong rfadein" style="line-height: 1.6;">
        <a>I am using Olympus OM-D EM10 Mark II, a Micro Four Thirds camera that was given by my mom who sparked my interest in taking photos. Lenses:</a><br>
        <div class="ind"><a>
            <i class="fa fa-caret-right"></i> &nbsp;Olympus M.Zuiko 45mm f/1.8<br>
            <i class="fa fa-caret-right"></i> &nbsp;Panasonic Lumix G 20mm f/1.7 II<br>
            <i class="fa fa-caret-right"></i> &nbsp;Olympus M.Zuiko 14-150mm f/4-5.6 II<br>
            <i class="fa fa-caret-right"></i> &nbsp;Olympus M.Zuiko 75-300mm f/4.8-6.7 II
        </a></div>
      </div>
    </div>

    __FOOTER__
    
  </body>
</html>

