<meta charset="UTF-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Cache-Control" content="private" />
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/1b7d79a1ac.js" crossorigin="anonymous"></script>
<link rel="icon" href="figures/cover/avatar.png" type="image/x-icon">
<link rel="stylesheet" href="css/page.css__VER__">
<link rel="stylesheet" href="css/nav.css__VER__">
<link rel="stylesheet" href="css/slide.css__VER__">
<link rel="stylesheet" href="css/cover.css__VER__">
<link rel="stylesheet" href="css/response.css__VER__">
<script src="figures/fig.js__VER__"></script>
<script src="js/page.js__VER__"></script>
