<!-- Top navigater -->
<div class="topnav">
  <a class="left" href="index.html"><i class="fa-solid fa-house-chimney"></i></a>
  <a class="right" href="index_about.html">About</a>
  <div class="dropdown right">
    <button class="dropbtn">Category
      <i class="fa-solid fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="index_city.html"__ACTIVE0__>Cities</a>
      <a href="index_cook.html"__ACTIVE1__>Foods</a>
      <a href="index_flower.html"__ACTIVE2__>Flowers</a>
      <a href="index_outdoor.html"__ACTIVE3__>Nature</a>
    </div>
  </div>
</div>
